[Unit]
Description=Run xmirror every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true
Unit=xmirror.service

[Install]
WantedBy=timers.target