[Desktop Entry]
Version=1.0
Name=VIA
Comment=VIA
Exec=omarchy-launch-webapp https://usevia.app/
Terminal=false
Type=Application
Icon=via-icon
StartupNotify=true
Categories=Utility;