[Desktop Entry]
Version=1.0
Name=Music [YouTube]
Comment=Music [YouTube]
Exec=omarchy-launch-webapp https://music.youtube.com/
Terminal=false
Type=Application
Icon=youtube-music-icon
StartupNotify=true
Categories=AudioVideo;