[Desktop Entry]
Version=1.1
Name=Launch Looking Glass
Comment=Launch Looking Glass
Exec=env __NV_DISABLE_EXPLICIT_SYNC=1 /usr/bin/looking-glass-client -g opengl
Terminal=false
Type=Application
Icon=looking-glass
StartupNotify=true
Categories=System;
